Repository opensearch-project/opensearch-spark, pull requests merged in 2024-11, with the labels that each got.

#850 Fallback to internal scheduler when index creation failed
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/AsyncQuerySchedulerBuilder.java
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/OpenSearchAsyncQueryScheduler.java
  flint-spark-integration/src/test/java/org/opensearch/flint/core/scheduler/AsyncQuerySchedulerBuilderTest.java
  flint-spark-integration/src/test/scala/org/apache/spark/FlintSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkUpdateIndexITSuite.scala
Labels: backport 0.5, 0.5.1, backport 0.5-nexus

#833 New trendline ppl command (SMA only)
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-trendline-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLTrendlineITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Trendline.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystExpressionVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/DataTypeTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/SortUtils.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/TrendlineCatalystUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanTrendlineCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#865 `cidrmatch` ppl command add logical tests and docs
  docs/ppl-lang/PPL-Example-Commands.md
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanParseCidrmatchTestSuite.scala
Labels: Lang:PPL, 0.6

#874 P1 antlr grammar - update lambda & join
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-lambda.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLLambdaFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/LambdaFunction.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/JavaToScalaTransformer.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJsonFunctionsTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanLambdaFunctionsTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanParseCidrmatchTestSuite.scala
Labels: Lang:PPL

#870 [followup] Refactor JSON function and add TO_JSON_STRING, ARRAY_LENGHT functions
  docs/ppl-lang/functions/ppl-json.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLJsonFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTransformer.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJsonFunctionsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#862 Join side aliases should be optional
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-join-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBasicITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLJoinITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/DescribeRelation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Join.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Relation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/SubqueryAlias.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystExpressionVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystPlanContext.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJoinTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#830 Add TPC-H PPL query suite
  build.sbt
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-tpch.md
  integ-test/src/integration/resources/tpch/q1.ppl
  integ-test/src/integration/resources/tpch/q10.ppl
  integ-test/src/integration/resources/tpch/q11.ppl
  integ-test/src/integration/resources/tpch/q12.ppl
  integ-test/src/integration/resources/tpch/q13.ppl
  integ-test/src/integration/resources/tpch/q14.ppl
  integ-test/src/integration/resources/tpch/q15.ppl
  integ-test/src/integration/resources/tpch/q16.ppl
  integ-test/src/integration/resources/tpch/q17.ppl
  integ-test/src/integration/resources/tpch/q18.ppl
  integ-test/src/integration/resources/tpch/q19.ppl
  integ-test/src/integration/resources/tpch/q2.ppl
  integ-test/src/integration/resources/tpch/q20.ppl
  integ-test/src/integration/resources/tpch/q21.ppl
  integ-test/src/integration/resources/tpch/q22.ppl
  integ-test/src/integration/resources/tpch/q3.ppl
  integ-test/src/integration/resources/tpch/q4.ppl
  integ-test/src/integration/resources/tpch/q5.ppl
  integ-test/src/integration/resources/tpch/q6.ppl
  integ-test/src/integration/resources/tpch/q7.ppl
  integ-test/src/integration/resources/tpch/q8.ppl
  integ-test/src/integration/resources/tpch/q9.ppl
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/tpch/TPCHQueryBase.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/tpch/TPCHQueryITSuite.scala
Labels: Lang:PPL, 0.6, testing

#868 Expand ppl command
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-expand-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLExpandITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Expand.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Flatten.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanExpandCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#884 Ppl count approximate support
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-rare-command.md
  docs/ppl-lang/ppl-top-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLAggregationWithSpanITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLAggregationsITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLTopAndRareITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/CountedAggregation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/RareAggregation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/TopAggregation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystPlanContext.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/AggregatorTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTransformer.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanAggregationQueriesTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanTopAndRareQueriesTranslatorTestSuite.scala
Labels: Lang:PPL, 0.7

#885 Apply shaded rules
  build.sbt
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintJobExecutor.scala
Labels: 0.6, backport 0.6

#883 Fix bug for not able to get sourceTables from metadata
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexFactory.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCache.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintOpenSearchMetadataCacheWriter.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/mv/FlintSparkMaterializedView.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/mv/FlintSparkMaterializedViewSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkMaterializedViewITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/metadatacache/FlintOpenSearchMetadataCacheWriterITSuite.scala
Labels: bug, backport 0.5-nexus, backport 0.6, 0.7

#890 Add query count per session metric
  flint-core/src/main/java/org/opensearch/flint/core/metrics/MetricConstants.java
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintREPL.scala
Labels: 0.6, backport 0.6

#891 Add metrics for query types
  flint-core/src/main/java/org/opensearch/flint/core/metrics/MetricConstants.java
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/sql/IndexMetricHelper.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/sql/covering/FlintSparkCoveringIndexAstBuilder.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/sql/mv/FlintSparkMaterializedViewAstBuilder.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/sql/skipping/FlintSparkSkippingIndexAstBuilder.scala
Labels: 0.6, backport 0.6

#897 Enable HTML test report
  .github/workflows/test-and-build-workflow.yml
  build.sbt
Labels: infrastructure

#903 Fix build issue due to import
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintREPL.scala
Labels: 0.6, backport 0.6

#888 Support parenthesized expression in filter
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-where-command.md
  integ-test/src/integration/resources/tpch/q19.ppl
  integ-test/src/integration/resources/tpch/q7.ppl
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLFiltersITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanParenthesizedConditionTestSuite.scala
Labels: Lang:PPL, sanity-0.6, 0.7

#872 New trendline ppl command (WMA)
  DEVELOPER_GUIDE.md
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-trendline-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLTrendlineITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Trendline.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/TrendlineCatalystUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanTrendlineCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#902 local spark ppl testing documentation
  README.md
  docs/img/spark-ui.png
  docs/ppl-lang/README.md
  docs/ppl-lang/local-spark-ppl-test-instruction.md
Labels: documentation, Lang:PPL, 0.7

#906 replace loading of grok patterns to hard coded
  ppl-spark-integration/src/main/java/org/opensearch/sql/common/grok/DefaultPatterns.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/common/grok/GrokCompiler.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/ParseUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanGrokTranslatorTestSuite.scala
Labels: bug, Lang:PPL, 0.6, sanity-0.6, backport 0.6, 0.7

#898 Support UnrecoverableException
  flint-commons/src/main/scala/org/apache/spark/sql/exception/UnrecoverableException.scala
  flint-commons/src/main/scala/org/opensearch/flint/common/model/InteractiveSession.scala
  integ-test/src/integration/scala/org/apache/spark/sql/FlintREPLITSuite.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintJobExecutor.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintREPL.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/JobOperator.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/util/ThrowableHandler.scala
  spark-sql-application/src/test/scala/org/apache/spark/sql/FlintREPLTest.scala
Labels: enhancement, backport 0.5-nexus, backport 0.6

#913 Temporarily support 4+ parts table identifier
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBasicITSuite.scala
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/RelationUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6, sanity-0.6, backport 0.6, 0.7

#918 update `expand` antlr command
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
Labels: documentation, Lang:PPL

#923 Temp fix for table name more than 3 parts
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBasicITSuite.scala
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: Lang:PPL, backport 0.6

#926 [DOC] Ensure PPL docs have consistent look
  README.md
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-collection.md
  docs/ppl-lang/functions/ppl-json.md
  docs/ppl-lang/ppl-correlation-command.md
  docs/ppl-lang/ppl-dedup-command.md
  docs/ppl-lang/ppl-eval-command.md
  docs/ppl-lang/ppl-fields-command.md
  docs/ppl-lang/ppl-fieldsummary-command.md
  docs/ppl-lang/ppl-grok-command.md
  docs/ppl-lang/ppl-head-command.md
  docs/ppl-lang/ppl-join-command.md
  docs/ppl-lang/ppl-lookup-command.md
  docs/ppl-lang/ppl-parse-command.md
  docs/ppl-lang/ppl-rare-command.md
  docs/ppl-lang/ppl-search-command.md
  docs/ppl-lang/ppl-sort-command.md
  docs/ppl-lang/ppl-stats-command.md
  docs/ppl-lang/ppl-subquery-command.md
  docs/ppl-lang/ppl-top-command.md
  docs/ppl-lang/ppl-trendline-command.md
  docs/ppl-lang/ppl-where-command.md
Labels: documentation, Lang:PPL

#930 Support alter from manual to auto without specifying scheduler mode
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkUpdateIndexITSuite.scala
Labels: enhancement, 0.6, backport 0.5-nexus, backport 0.6

#927 Support flatten with alias
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-flatten-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLFlattenITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Flatten.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanFlattenCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6, sanity-0.6, backport 0.6

#943 Rethrow exception in writeData()
  flint-core/src/main/java/org/opensearch/flint/core/IRestHighLevelClient.java
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintJobExecutor.scala
Labels: backport 0.5-nexus, backport 0.6

#958 Fix ppl-fillnull-command.md
  docs/ppl-lang/ppl-fillnull-command.md
Labels: documentation
