Repository opensearch-project/opensearch-spark, pull requests merged in 2024-10, with the labels that each got.

#714 Support `InSubquery` in PPL
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLInSubqueryITSuite.scala
  ppl-spark-integration/README.md
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/InSubquery.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/ppl/PPLSyntaxParser.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanInSubqueryTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#652 Antler syntax extensions related ot signum function.
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLEvalITSuite.scala
  ppl-spark-integration/README.md
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanMathFunctionsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#618 Add rename PPL function
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLRenameITSuite.scala
  ppl-spark-integration/README.md
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Rename.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanRenameTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#743 update documentation with examples comment specifications markdown pages
  README.md
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/PPL-on-Spark.md
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-condition.md
  docs/ppl-lang/functions/ppl-conversion.md
  docs/ppl-lang/functions/ppl-datetime.md
  docs/ppl-lang/functions/ppl-expressions.md
  docs/ppl-lang/functions/ppl-math.md
  docs/ppl-lang/functions/ppl-string.md
  docs/ppl-lang/ppl-correlation-command.md
  docs/ppl-lang/ppl-dedup-command.md
  docs/ppl-lang/ppl-eval-command.md
  docs/ppl-lang/ppl-fields-command.md
  docs/ppl-lang/ppl-grok-command.md
  docs/ppl-lang/ppl-head-command.md
  docs/ppl-lang/ppl-join-command.md
  docs/ppl-lang/ppl-lookup-command.md
  docs/ppl-lang/ppl-parse-command.md
  docs/ppl-lang/ppl-patterns-command.md
  docs/ppl-lang/ppl-rare-command.md
  docs/ppl-lang/ppl-rename-command.md
  docs/ppl-lang/ppl-search-command.md
  docs/ppl-lang/ppl-sort-command.md
  docs/ppl-lang/ppl-stats-command.md
  docs/ppl-lang/ppl-subquery-command.md
  docs/ppl-lang/ppl-top-command.md
  docs/ppl-lang/ppl-where-command.md
  ppl-spark-integration/README.md
Labels: 0.5, Lang:PPL, backport 0.5, backport 0.5-nexus

#745 update docs & links & add planned commands docs with process suggestion
  .github/ISSUE_TEMPLATE/ppl_command_request.md
  OpenSearch-PPL-Command-Process.md
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/planning/ppl-fillnull-command.md
Labels: 0.5, Roadmap:Search, Lang:PPL, backport 0.5, backport 0.5-nexus

#749 Implement isBlank
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-eval-command.md
  docs/ppl-lang/ppl-where-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBuiltinFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
Labels: Lang:PPL, 0.6

#723 Fillnull command introduced
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLFillnullITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/FillNull.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanFillnullCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#744 [0.5-nexus] Write mock metadata cache data to mappings _meta
  flint-core/src/main/scala/org/opensearch/flint/core/metadata/FlintMetadataCache.scala
  flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchMetadataCacheWriter.scala
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  integ-test/src/integration/scala/org/opensearch/flint/core/FlintOpenSearchMetadataCacheWriterITSuite.scala
Labels: enhancement

#756 update MAINTAINERS.md
  MAINTAINERS.md
Labels: Meta

#752 Support `ScalarSubquery` PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-subquery-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLScalarSubqueryITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/ScalarSubquery.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanScalarSubqueryTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#771 AND should have higher precedence than OR in predicate expression
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanFiltersTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6, correctness

#768 Support table identifier contains dot with backticks
  docs/ppl-lang/PPL-Example-Commands.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBasicITSuite.scala
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Relation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/RelationUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: 0.6

#773 [Backport 0.5] Support table identifier contains dot with backticks
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBasicITSuite.scala
  ppl-spark-integration/README.md
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Relation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/RelationUtils.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: Lang:PPL

#732 [0.5-nexus] Disable Fields Minus in grammar to avoid data correctness issue
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/ArgumentFactory.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: Lang:PPL, backport 0.5-nexus

#769 Support `ExistsSubquery` in PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-subquery-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLExistsSubqueryITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLInSubqueryITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/subquery/ExistsSubquery.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/subquery/InSubquery.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/subquery/ScalarSubquery.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanExistsSubqueryTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#717 Support recovery for index with external scheduler
  build.sbt
  flint-core/src/main/java/org/opensearch/flint/core/metrics/MetricsUtil.java
  flint-core/src/main/scala/apache/spark/metrics/source/FlintMetricSource.scala
  flint-core/src/main/scala/org/opensearch/flint/core/FlintOptions.java
  flint-core/src/test/java/org/opensearch/flint/core/metrics/MetricsUtilTest.java
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexBuilder.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexFactory.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexOptions.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/refresh/IncrementalIndexRefresh.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/refresh/util/RefreshMetricsAspect.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/refresh/util/RefreshMetricsHelper.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/AsyncQuerySchedulerBuilder.java
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/FlintSparkJobExternalSchedulingService.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/FlintSparkJobInternalSchedulingService.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/FlintSparkJobSchedulingService.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/util/RefreshQueryGenerator.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/sql/mv/FlintSparkMaterializedViewAstBuilder.scala
  flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/config/FlintSparkConfSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/FlintSparkIndexBuilderSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/scheduler/util/RefreshQueryGeneratorSuite.scala
  integ-test/src/integration/scala/org/apache/spark/sql/FlintJobITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkCoveringIndexITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkMaterializedViewITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkMaterializedViewSqlITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSkippingIndexITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkUpdateIndexITSuite.scala
Labels: 0.5, backport 0.5, backport 0.5-nexus

#778 Add auth-crt lib as runtime dependency
  build.sbt
Labels: 0.5, backport 0.5, backport 0.5-nexus

#558 Lazy clean up dangling index metadata log entry
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexMonitor.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkTransactionSupport.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/FlintSparkTransactionSupportSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkTransactionITSuite.scala
Labels: enhancement, 0.6

#783 [Infrastructure] Move style check ahead of Integ test
  .github/workflows/test-and-build-workflow.yml
Labels: infrastructure, 0.6

#775 Support `RelationSubquery` PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/ppl-search-command.md
  docs/ppl-lang/ppl-subquery-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLExistsSubqueryITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLInSubqueryITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLJoinITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLScalarSubqueryITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Relation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJoinTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#787 Refactor datetime functions docs and IT
  docs/ppl-lang/functions/ppl-datetime.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintPPLSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBuiltInDateTimeFunctionITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBuiltinFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTranslator.java
Labels: Lang:PPL, 0.6

#794 Add check list in pull request template
  .github/pull_request_template.md
Labels: infrastructure

#792 Support line comment and block comment in PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-comment.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLCommentITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#788 Implement Cryptographic hash functions
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-cryptographic.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBuiltinFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTranslator.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanCryptographicFunctionsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#780 Support PPL `JSON` functions: construction and extraction
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-json.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintPPLSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLJsonFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTranslator.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJsonFunctionsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#800 Support `Eventstats` in PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-eventstats-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLEventstatsITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Window.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/WindowSpecTransformer.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanEventstatsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#813 Fix copyright header missing
  .github/pull_request_template.md
  flint-core/src/main/java/org/opensearch/flint/core/metrics/reporter/DimensionedName.java
  flint-core/src/main/java/org/opensearch/flint/core/metrics/reporter/DimensionedNameBuilder.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/BulkRequestRateLimiter.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/BulkRequestRateLimiterHolder.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/OpenSearchBulkRetryWrapper.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/OpenSearchUpdater.java
  flint-core/src/test/java/org/opensearch/flint/core/metrics/MetricsUtilTest.java
  flint-core/src/test/java/org/opensearch/flint/core/metrics/reporter/DimensionedNameTest.java
  flint-core/src/test/scala/org/opensearch/flint/core/auth/AWSRequestSigningApacheInterceptorTest.java
  flint-core/src/test/scala/org/opensearch/flint/core/storage/BulkRequestRateLimiterHolderTest.java
  flint-core/src/test/scala/org/opensearch/flint/core/storage/BulkRequestRateLimiterTest.java
  flint-core/src/test/scala/org/opensearch/flint/core/storage/OpenSearchBulkRetryWrapperTest.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/FieldsMapping.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/IsEmpty.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/Scope.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Correlation.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/FillNull.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/common/antlr/Parser.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/JoinSpecTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/ParseStrategy.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/RelationUtils.java
  spark-sql-application/src/main/java/org/opensearch/sql/FlintDelegatingSessionCatalog.java
Labels: maintenance

#814 `All-fields` as an argument of aggregator such as count() can be resolved after other `field`
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLAggregationsITSuite.scala
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanAggregationQueriesTranslatorTestSuite.scala
Labels: bug, Lang:PPL, 0.6

#823 Support IN expression in PPL
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/functions/ppl-expressions.md
  docs/ppl-lang/ppl-eval-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLEvalITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLFiltersITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanEvalTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanFiltersTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#821 Fix the issue that missing identifiers from ANTLR keywords
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
Labels: bug, maintenance, Lang:PPL, 0.6

#758 Add PPL Between functionality
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/planning/ppl-between.md
  docs/ppl-lang/ppl-where-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBetweenITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBetweenExpressionTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#805 Write metadata cache data to mappings _meta with refresh time update
  docs/index.md
  flint-commons/src/main/scala/org/opensearch/flint/common/metadata/log/FlintMetadataLogEntry.scala
  flint-core/src/main/scala/org/opensearch/flint/core/metadata/log/DefaultOptimisticTransaction.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintMetadataLogEntryOpenSearchConverter.java
  flint-core/src/main/scala/org/opensearch/flint/core/storage/FlintOpenSearchMetadataLog.java
  flint-core/src/test/scala/org/opensearch/flint/core/storage/FlintMetadataLogEntryOpenSearchConverterSuite.scala
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintDisabledMetadataCacheWriter.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCache.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCacheWriter.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCacheWriterBuilder.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintOpenSearchMetadataCacheWriter.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/util/IntervalSchedulerParser.java
  flint-spark-integration/src/test/java/org/opensearch/flint/core/scheduler/util/IntervalSchedulerParserTest.java
  flint-spark-integration/src/test/scala/org/apache/spark/FlintSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/covering/ApplyFlintSparkCoveringIndexSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCacheSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/skipping/ApplyFlintSparkSkippingIndexSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/core/FlintMetadataLogITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/core/FlintTransactionITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkTransactionITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/metadatacache/FlintOpenSearchMetadataCacheWriterITSuite.scala
Labels: enhancement, 0.6, backport 0.5-nexus

#706 PPL `cidr` function
  build.sbt
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/functions/ppl-ip.md
  docs/ppl-lang/ppl-where-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLCidrmatchITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/Cidr.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/SerializableUdf.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/test/java/org/opensearch/sql/expression/function/SerializableUdfTest.java
Labels: Lang:PPL, 0.6

#845 [0.5-nexus] Fix ci for scheduler on nexus branch
  flint-core/src/main/resources/async-query-scheduler-index-mapping.json
  flint-core/src/main/resources/async-query-scheduler-index-mapping.yml
  flint-core/src/main/resources/async-query-scheduler-index-settings.json
  flint-core/src/main/resources/async-query-scheduler-index-settings.yml
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/scheduler/OpenSearchAsyncQueryScheduler.java
Labels: backport 0.5

#839 Add functions DATE_ADD, DATE_SUB, TIMESTAMPADD, TIMESTAMPDIFF, CURRENT_TIMEZONE and UTC_TIMESTAMP
  docs/ppl-lang/functions/ppl-datetime.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLBuiltInDateTimeFunctionITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/Interval.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/expression/IntervalUnit.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/expression/function/BuiltinFunctionName.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTranslator.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanDateTimeFunctionsTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#852 Refactor `CatalystQueryPlanVisitor` into distinct Plan & Expression visitors
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystExpressionVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstExpressionBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstStatementBuilder.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/AggregatorTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/BuiltinFunctionTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/DedupeTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/LookupTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/ParseTransformer.java
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/ppl/PPLSyntaxParser.scala
Labels: Lang:PPL, 0.6

#784 PPl `flatten` command
  docs/ppl-lang/PPL-Example-Commands.md
  docs/ppl-lang/README.md
  docs/ppl-lang/ppl-flatten-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLFlattenITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLLexer.g4
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/AbstractNodeVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ast/tree/Flatten.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/FlattenGenerator.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanFlattenCommandTranslatorTestSuite.scala
Labels: Lang:PPL, 0.6

#854 Extract source table names from mv query
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSpark.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexBuilder.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkIndexFactory.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintSparkValidationHelper.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCache.scala
  flint-spark-integration/src/main/scala/org/opensearch/flint/spark/mv/FlintSparkMaterializedView.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/FlintSparkIndexFactorySuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/metadatacache/FlintMetadataCacheSuite.scala
  flint-spark-integration/src/test/scala/org/opensearch/flint/spark/mv/FlintSparkMaterializedViewSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/FlintSparkMaterializedViewITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/spark/metadatacache/FlintOpenSearchMetadataCacheWriterITSuite.scala
Labels: enhancement, 0.6, backport 0.5-nexus
