Repository opensearch-project/opensearch-spark, pull requests merged in 2025-02, with the labels that each got.

#1025 Add Join and Lookup IT on OpenSearch Table
  docs/opensearch-table.md
  integ-test/src/integration/scala/org/apache/spark/opensearch/table/OpenSearchTableQueryITSuite.scala
Labels: enhancement, opensearch table

#1032 Support OpenSearch alias field type
  docs/opensearch-table.md
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/datatype/FlintDataType.scala
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/json/FlintJacksonParser.scala
  flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/datatype/FlintDataTypeSuite.scala
  integ-test/src/integration/scala/org/apache/spark/opensearch/table/OpenSearchTableQueryITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/OpenSearchSuite.scala
Labels: enhancement, opensearch table

#1035 [BUG] Fix the PPL Lookup command behavior when inputField is missing and REPLACE with existing fields
  docs/ppl-lang/ppl-lookup-command.md
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLLookupITSuite.scala
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystExpressionVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystPlanContext.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/CatalystQueryPlanVisitor.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/LookupTransformer.java
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/utils/RelationUtils.java
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/FlintPPLSparkExtensions.scala
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLParser.scala
  ppl-spark-integration/src/main/scala/org/opensearch/flint/spark/ppl/PPLSparkUtils.scala
Labels: Lang:PPL

#1039 Support multi-fields for text fields and improve push down logic
  docs/opensearch-table.md
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/datatype/FlintDataType.scala
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/datatype/FlintMetadataExtensions.scala
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/storage/FlintQueryCompiler.scala
  flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/datatype/FlintDataTypeSuite.scala
  flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/datatype/FlintMetadataExtensionsSuite.scala
  flint-spark-integration/src/test/scala/org/apache/spark/sql/flint/storage/FlintQueryCompilerSuite.scala
  integ-test/src/integration/scala/org/apache/spark/FlintDataSourceV2ITSuite.scala
  integ-test/src/integration/scala/org/apache/spark/opensearch/table/OpenSearchTableQueryITSuite.scala
  integ-test/src/integration/scala/org/opensearch/flint/OpenSearchSuite.scala
Labels: DataSource:OpenSearch, opensearch table

#979 Implement FlintJob to handle all query types in warmpool mode
  flint-core/src/main/java/org/opensearch/flint/core/metrics/MetricConstants.java
  flint-spark-integration/src/main/scala/org/apache/spark/sql/flint/config/FlintSparkConf.scala
  integ-test/src/integration/scala/org/apache/spark/sql/FlintJobITSuite.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintJob.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintJobExecutor.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/FlintREPL.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/JobOperator.scala
  spark-sql-application/src/main/scala/org/apache/spark/sql/WarmpoolJob.scala
  spark-sql-application/src/test/scala/org/apache/spark/sql/util/WarmpoolTest.scala
Labels: 0.7

#1045 Add RELEASING.md
  RELEASING.md
Labels: enhancement

#1066 Alias could be wrapped with backticks in RENAME and other commands
  integ-test/src/integration/scala/org/opensearch/flint/spark/ppl/FlintSparkPPLRenameITSuite.scala
  ppl-spark-integration/src/main/antlr4/OpenSearchPPLParser.g4
  ppl-spark-integration/src/main/java/org/opensearch/sql/ppl/parser/AstBuilder.java
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanAggregationQueriesTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanBasicQueriesTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanJoinTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanRenameTranslatorTestSuite.scala
  ppl-spark-integration/src/test/scala/org/opensearch/flint/spark/ppl/PPLLogicalPlanTrendlineCommandTranslatorTestSuite.scala
Labels: backport 0.x
